.container {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: #ebe380;  
  overflow: hidden;
  padding: 10px;  
  justify-content: center;
  margin: 15px;
}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action {
  display: flex;
  cursor: pointer;
  animation: none;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.like > span {
  padding-left: 10px;
}

.like > svg:hover {
  animation: twist 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

}

@keyframes twist {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.remove:hover {
  animation: 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  width: 30px;
  height: 30px;
}

.action > svg {
  width: 30px;
  height: 30px;
  animation: none;
  color: black;
}

.button {
	font: bold 8px Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	padding: 1em 2em;
	background: linear-gradient(top, rgba(0,0,0,.15), rgba(0,0,0,.3));
	background-color: #343a40;
	border-radius: 3px;
	float: right;

}
.lnr-thumbs-up {
  color: #0F52BA;
  font-size: 40px;
  /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}
